<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">SmartBank - {{environment}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    {% if message %}
        {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success: </strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Hello you have a error: </strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% end %}
    {% end %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="acess_token">Form Token</label>
            <input type="text" name="acess_token" class="form-control" id="acess_token" aria-describedby="TokenHelp"
                   placeholder="Enter with Acess Token" required="true"/>
            <small id="TokenHelp" class="form-text text-muted">Enter the token for this operation.</small>
        </div>
        <div class="form-group">
            <label for=email>Email address</label>
            <input type="email" class="form-control" name="email" id="email" required="true"
                   aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Enter your email to register this operation.</small>
        </div>
        <div class="form-group">
            <label for="file" required="true">File</label>
            <input type="file" name="document" class="form-control-file" id="file" aria-describedby="FileHelp"/>
            <small id="FileHelp" class="form-text text-muted">I only accept .CSV files.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="static/js/jquery-3.3.1.slim.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>